*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login-wrapper{
    height: 100vh;
    display: flex;
}
.login-part{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-part form{
    width: 400px;
    height: 400px;
    /* background: red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.logout-part{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-part form{
    width: 400px;
    height: 400px;
    /* background: red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}